html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.wrapper {
  font-size: 1rem;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.main__text {
  display: flex;
  justify-content: center;
}

.main__wrapper {

}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__item {

}

.accordion__title {
  background-color: green;
  display: block;
  padding: 0.8rem;
  border: 0.1rem solid black;
  margin: auto;
  width: 15rem;
}

.accordion__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.accordion__img {
  display: none;
}

img {
  display: flex;
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  max-height: 14rem;
}

.accordion__input:checked + .accordion__img {
  display: block;
}






.footer__wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffd858;
  border: 0.05rem solid black;
}

.advertisement__text {
  font-size: 0.9rem;
  font-weight: 700;
}