html {
  box-sizing: border-box;
  background-color: whitesmoke;
}

.wrapper {
  font-size: 1rem;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main__text {
  display: flex;
  justify-content: center;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__title {
  background-color: green;
  padding: 0.8rem;
  border: 0.1rem solid black;
  margin: auto;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.accordion__img {
  display: block;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

img {
  display: flex;
  width: 17rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  max-height: 14rem;
}

.plus__anim {
  background-image: url(./images/plusicon.svg);
  background-size: contain;
  rotate: 0deg;
  transition: all 0.3s ease-in-out;
  height: 1rem;
  width: 1rem;
}

.accordion__input:checked ~ .accordion__img {
  height: 14rem;
}

.accordion__input:checked ~ .accordion__title .plus__anim {
  rotate: 45deg;
}

.footer__wrapper {
  display: flex;
  justify-content: center;
  background-color: #ffd858;
  border: 0.05rem solid black;
}

.advertisement__text {
  font-size: 0.9rem;
  font-weight: 700;
}